<h1>instaclone</h1>

<div class="container">
  <div class="row">
    <div class="col-lg-12 mb30">
       <%= image_tag 'top.png' %>
    </div>
    <div class="col-lg-12"><br><br>
      <p>これはinstacloneの課題です。</p>
      <p>課題をクリアできるかな。</p>
    </div>
  </div>
</div>