<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>
<p>イメージ: <%= image_tag @user.image %></p>

<ul>
<% @favorites_picture.each do |picture| %>
<li>お気に入り：<%= link_to "#{picture.title}", picture_path(picture.id) %></li>
<% end %>
</ul>