.blog_title{
  margin-bottom: 10px;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}
.contents li{
    background-color:#FFF8E8;
    color:black;
    padding:5% 5%;
    box-sizing: border-box;
    border: solid 1px #fff;
    margin-bottom: 15px;
}
label {
	display: inline-block;
	margin-bottom: 10px;
	font-weight: bold;
	width: 150px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 20px;
}
.container {
  margin-bottom: 150px;
}